
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>2018 The Winner Prizes of All Human Parsing Tasks in the 2nd LIP Challenge</li>
		<li>2017 The Runnerup Prizes of All Video Object Detection/Tracking Tasks in ILSVRC</li>
		<li>2016 Excellent Doctoral Dissertation Award of	CIE</li>
		<li>2016 Excellent Doctoral Dissertation Award of	Beijing Jiaotong University</li>
		<li>2014 National Scholarship </li>
		<li>2014 The Winner Prize of Object Detection Task 1a	in ILSVRC </li>
		<li>2013 Huawei Scholarship</li>
	</ul>
</div>
