
<div class='news'>
	<h3> News</h3>
	<ul>

	  	<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>I'm going to co-organize the workshop on "Real-World Recognition from Low-Quality Images and Videos (RLQ)" in ICCV 2019. More details please refer to <a href="https://www.forlq.org">[link]</a>.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>I'm going to co-organize the workshop on "Weakly Supervised Learning for Real-World Computer Vision Applications and the 1st Learning from Imperfect Data (LID) Challenge" in CVPR 2019. More details please refer to <a href="https://lidchallenge.github.io">[link]</a>.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>I'm going to co-organize the workshop on "Augmented Human: Human-centric Understanding and 2D/3D Synthesis, and the third Look Into Person (LIP) Challenge" in CVPR 2019. More details please refer to <a href="https://vuhcs.github.io">[link]</a>.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>The slides of <a href="assets/pdf/VALSE-2019-Workshop-YCWEI.pdf">VALSE-2019-Workshop</a> and <a href="assets/pdf/VALSE-2019-Tutorial-YCWEI.pdf">VALSE-2019-Tutorial</a> are avaliable now!</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>Four papers accepted in AAAI 2019 and one paper accepted by PR.</li>
			<li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>One paper accepted in NIPS 2018.</li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>Three papers accepted in ECCV 2018.</li>
			<li><i class="fa fa-flag"  color="#FF0000"
			aria-hidden="true"></i>BJTU-UIUC team won the
	    1st places in all three human parsing tracks in the 2nd LIP Challenge. <br />
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMembers: Ting Liu*, Tao Ruan*, <strong>Yunchao Wei</strong>, Jie Zhao, Shikui Wei, Honghui Shi, Jinjun Xiong, Yao Zhao, Thomas Huang
		  </li>
		  <li><i class="fa fa-flag"  color="#FF0000"
		  aria-hidden="true"></i>Three papers accepted in CVPR 2018
		  with one oral and one spotlight. One paper accepted by TMM.</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>NUS-Qihoo-UIUC_DPNs team won the
	    2nd places in all four video-related tracks in ILSVRC 2017. <br />
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMembers: <strong>Yunchao Wei</strong>, Mengdan Zhang, Honghui Shi, Jianan Li, Yunpeng Chen, Jiashi Feng, Jian Dong, Shuicheng Yan
			</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Two papers accepted in ACM MM 2017
	    and one paper accepted in ICCV 2017.</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Three papers accepted in CVPR 2017
	    with one oral and one spotlight.</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper accepted in ICME 2017.</li>
	</ul>
</div>
