<h3>
	<a name='publications'></a> Publications
</h3>

<h4>
	<a name='report'></a> Technique Reports
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>A PyTorch Semantic Segmentation Toolbox</strong><br />
      Zilong Huang, <strong>Yunchao Wei</strong>, Xinggang Wang, Wenyu Liu<br />
      <a href="assets/pdf/toolbox.pdf">[PDF]</a>
			<a href="https://github.com/speedinghzl/pytorch-segmentation-toolbox">[CODE]</a><br />
			<strong>Note:</strong><a style="color:#FF0000;"> We provide PyTorch implementations for DeeplabV3 and PSPNet. The advantages: 1) integrate Syn BN; 2) take less time and computational resources for training; 3) achieve better performance.</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Revisiting Pre-training: An Efficient Training Method for Image Classification</strong><br />
      Bowen Cheng, <strong>Yunchao Wei</strong>, Honghui Shi, Shiyu Chang, Jinjun Xiong, Thomas S. Huang<br />
      <a href="https://arxiv.org/abs/1811.09347">[arxiv]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>SG-One: Similarity Guidance Network for One-Shot Semantic Segmentation</strong><br />
      Xiaolin Zhang, <strong>Yunchao Wei</strong>, Yi Yang, Thomas Huang<br />
      <a href="https://arxiv.org/pdf/1810.09091">[arxiv]</a>
			<a href="https://github.com/xiaomengyc/SG-One">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Decoupled Classification Refinement: Hard False Positive Suppression for Object Detection</strong><br />
      Bowen Cheng, <strong>Yunchao Wei</strong>, Honghui Shi, Rogerio Feris, Jinjun Xiong, Thomas Huang<br />
      <a href="https://arxiv.org/abs/1810.04002">[arxiv]</a>
			<a href="https://github.com/bowenc0221/Decoupled-Classification-Refinement">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Towards Real World Human Parsing: Multiple-Human Parsing in the Wild</strong><br />
       Jianshu Li, Jian Zhao, <strong>Yunchao Wei</strong>, Congyan Lang, Yidong Li, Jiashi Feng<br />
      <a href="https://arxiv.org/pdf/1705.07206.pdf">[arxiv]</a>
    </p>
  </div>
</div>



<h4>
	<a name='2019'></a> 2019
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>SPGNet: Semantic Prediction Guidance for Scene Parsing </strong><br />
			Bowen Cheng, Liang-Chieh Chen, <strong>Yunchao Wei</strong>, Yukun Zhu, Zilong Huang, Jinjun Xiong, Thomas Huang, Wen-Mei Hwu, Honghui Shi
 <br />
			IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1908.09798">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Integral Object Mining via Online Attention Accumulation </strong><br />
      Peng-Tao Jiang, Qibin Hou, Yang Cao, Ming-Ming Cheng, <strong>Yunchao Wei</strong>, Hong-Kai Xiong <br />
			IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019 <br />
      <a href="https://mmcheng.net/oaa/">[Project]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>CCNet: Criss-Cross Attention for Semantic Segmentation</strong><br />
      Zilong Huang, Xinggang Wang, Lichao Huang, Chang Huang, <strong>Yunchao Wei</strong>, Wenyu Liu<br />
			IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1811.11721">[arxiv]</a>
			<a href="https://github.com/speedinghzl/CCNet">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-similarity Grouping: A Simple Unsupervised Cross Domain Adaptation Approach for Person Re-identification</strong><br />
      Yang Fu, <strong>Yunchao Wei</strong>, Guanshuo Wang, Yuqian Zhou, Honghui Shi, Thomas Huang<br />
			IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2019 (<strong>oral</strong>) <br />
      <a href="https://arxiv.org/abs/1811.10144">[arxiv]</a>
			<a href="https://github.com/OasisYang/SSG">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Boundary Perception Guidance: A Scribble-Supervised Semantic Segmentation Approach</strong><br />
      Bin Wang, Guojun Qi, Sheng Tang, Tianzhu Zhang, <strong>Yunchao Wei</strong>, Linghui Li, Yongdong Zhang<br />
			International Joint Conference on Artificial Intelligence (<strong>IJCAI</strong>), 2019 <br />
	  </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Geometry-Aware Distillation for Indoor Semantic Segmentation</strong><br />
			Jianbo Jiao, <strong>Yunchao Wei</strong>, Zequn Jie, Honghui Shi, Rynson W.H. Lau, Thomas S. Huang<br />
			IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2019 <br />
	  </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Low-Rank Tensor Completion With a New Tensor Nuclear Norm Induced by Invertible Linear Transforms</strong><br />
			Canyi Lu, Xi Peng, <strong>Yunchao Wei</strong><br />
			IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2019 <br />
	  </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Magic-wall: Visualizing Room Decoration by Enhanced Wall Segmentation</strong><br />
      Ting Liu, <strong>Yunchao Wei</strong>, Yao Zhao, Si Liu, Shikui Wei<br />
			IEEE Transactions on Image Processing (<strong>TIP</strong>), 2019 <br />
	  </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Concealed Object Detection for Activate Millimeter Wave Image</strong><br />
      Ting Liu, Yao Zhao, <strong>Yunchao Wei</strong>, Yufeng Zhao, Shikui Wei<br />
			IEEE Transactions on Industrial Electronics (<strong>TIE</strong>), 2019 <br />
	  </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Devil in the Details: Towards Accurate Single and Multiple Human Parsing</strong><br />
      Tao Ruan, Ting Liu, Zilong Huang, <strong>Yunchao Wei</strong>, Shikui Wei, Yao Zhao, Thomas Huang<br />
			Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2019 <br />
      <a href="https://arxiv.org/pdf/1809.05996">[arxiv]</a>
			<a href="https://github.com/liutinglt/CE2P">[CODE]</a><br />
			<strong>Note:</strong><a style="color:#FF0000;"> This work achieves the 1st places on all human paring tracks in the 2nd LIP Challenge</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Weakly Supervised Scene Parsing with Point-based Distance Metric Learning</strong><br />
      Rui Qian, <strong>Yunchao Wei</strong>, Honghui Shi, Jiachen Li, Jiaying Liu, Thomas Huang<br />
			Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2019 <br />
			<a href="https://arxiv.org/abs/1811.02233">[arxiv]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>STA: Spatial-Temporal Attention for Large-Scale Video-based Person Re-Identification</strong><br />
      Yang Fu, Xiaoyang Wang, <strong>Yunchao Wei</strong>, Thomas Huang<br />
      Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2019 <br />
			<a href="https://arxiv.org/abs/1811.04129">[arxiv]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Horizontal Pyramid Matching for Person Re-identification</strong><br />
      Yang Fu, <strong>Yunchao Wei</strong>, Yuqian Zhou, Honghui Shi, Gao Huang, Xinchao Wang, Zhiqiang Yao, Thomas Huang<br />
			Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1804.05275">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>IAN: The Individual Aggregation Network for Person Search</strong><br />
       Jimin Xiao, Yanchun Xie, Tammam Tillo, Kaizhu Huang, <strong>Yunchao Wei</strong>, Jiashi Feng<br />
			 Pattern Recognition (<strong>PR</strong>), 2019 <br />
      <a href="https://arxiv.org/abs/1705.05552">[PDF]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2018'></a> 2018
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-Erasing Network for Integral Object Attention</strong><br />
       Qibin Hou, Peng-Tao Jiang, <strong>Yunchao Wei</strong>, Ming-Ming Cheng<br />
			 Neural Information Processing Systems (<strong>NIPS</strong>), 2018 <br />
			 <a href="https://arxiv.org/abs/1810.09821">[PDF]</a>
			 <a href="http://mmcheng.net/SeeNet/">[Project]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>TS2C: Tight Box Mining with Surrounding Segmentation Context for Weakly Supervised Object Detection</strong><br />
       <strong>Yunchao Wei</strong>, Zhiqiang Shen, Bowen Cheng, Honghui Shi, Jinjun Xiong, Jiashi Feng, Thomas Huang<br />
			 European Conference on Computer Vision (<strong>ECCV</strong>), 2018 <br />
			 <a href="https://arxiv.org/abs/1807.04897">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-produced Guidance for Weakly-supervised Object Localization</strong><br />
       Xiaolin Zhang, <strong>Yunchao Wei</strong>, Guoliang Kang, Yi Yang, Thomas Huang<br />
			 European Conference on Computer Vision (<strong>ECCV</strong>), 2018<br />
			 <a href="https://arxiv.org/abs/1807.08902">[PDF]</a>
			 <a href="https://github.com/xiaomengyc/SPG">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Revisiting RCNN: On Awakening the Classification Power of Faster RCNN</strong><br />
       Bowen Cheng, <strong>Yunchao Wei</strong>, Honghui Shi, Rogerio Feris, Jinjun Xiong, Thomas Huang<br />
			 European Conference on Computer Vision (<strong>ECCV</strong>), 2018 <br />
      <a href="https://arxiv.org/abs/1803.06799">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Revisiting Dilated Convolution: A Simple Approach for Weakly- and Semi- Supervised Semantic Segmentation</strong><br />
       <strong>Yunchao Wei</strong>, Huaxin Xiao, Honghui Shi, Zequn Jie, Jiashi Feng, Thomas Huang<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018 (<strong>spotlight</strong>)<br />
			<a href="https://arxiv.org/abs/1805.04574">[PDF]</a>
			<a href="assets/projects/mdc.html">[Project]</a>
			<a href="assets/code/train_MDC.prototxt">[Prototxt]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Adversarial Complementary Learning for Weakly Supervised Object Localization</strong><br />
       Xiaolin Zhang, <strong>*Yunchao Wei</strong>, Jiashi Feng, Yi Yang, Thomas Huang<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018<br />
			<a href="https://arxiv.org/abs/1804.06962">[PDF]</a>
			<a href="https://github.com/xiaomengyc/ACoL">[CODE]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Left-Right Comparative Recurrent Model for Stereo Matching</strong><br />
       Zequn Jie, Pengfei Wang, Yonggen Ling, Bo Zhao, <strong>Yunchao Wei</strong>, Jiashi Feng, Wei Liu<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2018 (<strong>oral</strong>)<br />
      <a href="https://arxiv.org/abs/1804.00796">[PDF]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Salient Object Detection with Dense Connections and Distraction Diagnosis</strong><br />
       Huaxin Xiao, Jiashi Feng, <strong>Yunchao Wei</strong>, Maojun Zhang<br />
			 IEEE Transactions on Multimedia (<strong>TMM</strong>), 2018<br />
      <a href="https://arxiv.org/abs/1708.05595">[PDF]</a>
			<a href="https://github.com/huaxinxiao/SaliencyDetection">[CODE]</a>
			<strong>Note:</strong><a style="color:#FF0000;"> This work provides the state-of-the-art solution for saliency object detection.</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Transferable Semi-supervised Semantic Segmentation</strong><br />
       Huaxin Xiao, <strong>Yunchao Wei</strong>, Yu Liu, Maojun Zhang, Jiashi Feng<br />
       Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2018 <br />
			 <a href="https://arxiv.org/abs/1711.06828">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Proposal-free network for instance-level object segmentation</strong><br />
       Xiaodan Liang, <strong>Yunchao Wei</strong>, Xiaohui Shen, Jianchao Yang, Liang Lin, Shuicheng Yan<br />
			 IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2018 <br />
      <a href="https://arxiv.org/abs/1509.02636">[arxiv]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2017'></a> 2017
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Multi-stage Object Detection with Group Recursive Learning</strong><br />
       Jianan Li, Xiaodan Liang, Jianshu Li, <strong>Yunchao Wei</strong>, Tingfa Xu, Jiashi Feng, Shuicheng Yan<br />
      IEEE Transactions on Multimedia (<strong>TMM</strong>), 2017<br />
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Regional Interactive Image Segmentation Networks</strong><br />
      Jun Hao Liew, <strong>Yunchao Wei</strong>, Wei Xiong, Sim-Heng
      Ong, Jiashi Feng<br />
      IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2017 <br />
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Magic-wall: Visualizing Room Decoration</strong><br />
      Ting Liu, <strong>Yunchao Wei</strong>, Yao Zhao, Si Liu, Shikui
      Wei<br />
      ACM Multimedia (<strong>MM</strong>), 2017
      (<strong>oral</strong>)<br />
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Attribute-preserving Metric Learning for Natural
      Language Object Retrieval</strong><br />
      Jianan Li, <strong>Yunchao Wei</strong>, Xiaodan Liang, Fang
      Zhao, Tingfa Xu, Jiashi Feng<br />
      ACM Multimedia (<strong>MM</strong>), 2017 <br />
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Object Region Mining with Adversarial Erasing: A Simple
       Classification to Semantic Segmentation Approach</strong><br />
       <strong>Yunchao Wei</strong>, Jiashi Feng, Xiaodan Liang,
      Ming-Ming Cheng, Yao Zhao, Shuicheng Yan<br />
      IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2017 (<strong>oral</strong>)<br />
      <a href="https://arxiv.org/abs/1703.08448">[PDF]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Self-taught Learning for Weakly Supervised Object Detection</strong><br />
       Zequn Jie, <strong>Yunchao Wei</strong>, Xiaojie Jin, Jiashi
       Feng, Wei Liu<br />
      IEEE Conference on Computer Vision and Pattern Recognition
       (<strong>CVPR</strong>), 2017
       (<strong>spotlight</strong>)<br />
      <a href="https://arxiv.org/abs/1704.05188">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Perceptual Generative Adversarial Networks for Small
       Object Detection</strong><br />
       Jianan Li, Xiaodan Liang, <strong>Yunchao Wei</strong>, Tingfa
       Xu, Jiashi Feng, Shuicheng Yan<br />
      IEEE Conference on Computer Vision and Pattern Recognition
       (<strong>CVPR</strong>), 2017 <br />
      <a href="https://arxiv.org/abs/1706.05274">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Enhanced Isomorphic Semantic Representation for
      Cross-media Retrieval</strong><br />
       Ting Liu, Yao Zhao, Shikui Wei, Lixin Liao, <strong>Yunchao
      Wei</strong><br />
      IEEE International Conference on Multimedia and Expo (<strong>ICME</strong>), 2017 <br />
      <a href="assets/pdf/icme17.pdf">[PDF]</a>
      <a href="https://github.com/liutinglt/icme">[CODE]</a>
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Attentive Contexts for Object Detection</strong><br />
       Jianan Li*, <strong>Yunchao Wei*</strong>, Xiaodan Liang, Jian Dong, Tingfa Xu, Jiashi Feng, Shuicheng Yan<br />
      IEEE Transactions on Multimedia (<strong>TMM</strong>), 2017<br />
      <a href="https://arxiv.org/abs/1603.07415">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>STC: A Simple to Complex Framework for Weakly-supervised Semantic Segmentation</strong><br />
       <strong>Yunchao Wei</strong>, Xiaodan Liang, Yunpeng Chen, Xiaohui Shen, Ming-Ming Cheng, Jiashi Feng, Yao Zhao, Shuicheng Yan<br />
       IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2017 <br />
      <a href="assets/pdf/stc_tpami.pdf">[PDF]</a>
      <a href="assets/pdf/stc-supp.pdf">[SUPP]</a>
      <a href="assets/projects/stc.html">[Project]</a>
      <a href="assets/bibtex/stc.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2016'></a> 2016
</h4>


<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Learning to Segment Human by Watching YouTube</strong><br />
       Xiaodan Liang, <strong>Yunchao Wei</strong>, Yunpeng Chen, Xiaohui Shen, Jianchao Yang, Liang Lin, Shuicheng Yan<br />
       IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2016 <br />
      <a href="assets/pdf/youtube_tpami.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Reversible Recursive Instance-level Object Segmentation</strong><br />
       Xiaodan Liang, <strong>Yunchao Wei</strong>, Xiaohui Shen, Zequn Jie, Jiashi Feng, Liang Lin, Shuicheng Yan<br />
       IEEE Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2016 <br />
      <a href="https://arxiv.org/pdf/1511.04517v2.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>HCP: A Flexible CNN Framework for Multi-label Image Classification</strong><br />
       <strong>Yunchao Wei</strong>, Wei Xia, Min Lin, Junshi Huang, Bingbing Ni, Jian Dong, Yao Zhao, Shuicheng Yan<br />
       IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2016 <br />
      <a href="assets/pdf/hcp_tpami.pdf">[PDF]</a>
      <a href="assets/pdf/hcp-supp.pdf">[SUPP]</a>
     <a href="assets/projects/hcp.html">[Project]</a>
     <a href="assets/bibtex/hcp.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Cross-Modal Retrieval With CNN Visual Features: A New Baseline</strong><br />
       <strong>Yunchao Wei</strong>, Yao Zhao, Canyi Lu, Shikui Wei, Luoqi Liu, Zhenfeng Zhu, Shuicheng Yan<br />
       IEEE Transactions on Cybernetics (<strong>TCYB</strong>), 2016 <br />
      <a href="assets/pdf/crcvf_tcyb.pdf">[PDF]</a>
     <a href="assets/projects/tcyb.html">[Project]</a>
     <a href="assets/bibtex/tcyb.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Learning to segment with image-level annotations</strong><br />
       <strong>Yunchao Wei</strong>, Xiaodan Liang, Yunpeng Chen, Zequn Jie, Yanhui Xiao, Yao Zhao, Shuicheng Yan<br />
       Pattern Recognition (<strong>PR</strong>), 2016 <br />
      <a href="assets/pdf/lsia_pr.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Modality-Dependent Cross-Media Retrieval</strong><br />
       <strong>Yunchao Wei</strong>, Yao Zhao, Zhenfeng Zhu, Shikui Wei, Yanhui Xiao, Jiashi Feng, Shuicheng Yan<br />
       ACM Transactions on Intelligent Systems and Technology (<strong>TIST</strong>), 2016 <br />
      <a href="assets/pdf/mdcr_tist.pdf">[PDF]</a>
     <a href="assets/projects/tist.html">[Project]</a>
     <a href="assets/bibtex/tist.txt">[Bibtex]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Instance-Aware Hashing for Multi-Label Image Retrieval</strong><br />
       Hanjiang Lai, Pan Yan, Xiangbo Shu, <strong>Yunchao Wei</strong>, Shuicheng Yan<br />
       IEEE Transactions on Image Processing (<strong>TIP</strong>), 2016 <br />
      <a href="assets/pdf/iahmir_tip.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Object proposal generation with fully convolutional networks</strong><br />
       Zequn Jie, Wen Feng Lu, Siavash Sakhavi, <strong>Yunchao Wei</strong>, Eng Hock Francis Tay, Shuicheng Yan<br />
       IEEE Transactions on Circuits and Systems for Video Technology (<strong>TCSVT</strong>), 2016 <br />
      <a href="assets/pdf/opfcn_tcsvt.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Learning with S-Shaped Rectified Linear Activation Units</strong><br />
       Xiaojie Jin, Chunyan Xu, Jiashi Feng, <strong>Yunchao Wei</strong>, Junjun Xiong, Shuicheng Yan<br />
       Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2016 <br />
      <a href="https://arxiv.org/pdf/1512.07030v1.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>3D video super-resolution using fully convolutional neural networks</strong><br />
       Yanchun Xie, Jimin Xiao, Tammam Tillo, <strong>Yunchao Wei</strong>, Yao Zhao<br />
       IEEE International Conference on Multimedia and Expo (<strong>ICME</strong>), 2016 <br />
      <a href="assets/pdf/3dsr_icme.pdf">[PDF]</a>
    </p>
  </div>
</div>


<h4>
	<a name='2015'></a> 2015
</h4>
<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Kernel Reconstruction ICA for Sparse Representation</strong><br />
       Yanhui Xiao, Zhenfeng Zhu, Yao Zhao, <strong>Yunchao Wei</strong>, Shikui Wei <br />
       IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>), 2015 <br />
      <a href="assets/pdf/krisp_tnnls.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Towards Computational Baby Learning: A Weakly-Supervised Approach for Object Detection</strong><br />
       Xiaodan Liang, Si Liu, <strong>Yunchao Wei</strong>, Luoqi Liu, Liang Lin, Shuicheng Yan <br />
       IEEE International Conference on Computer Vision (<strong>ICCV</strong>), 2015 <br />
      <a href="http://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Liang_Towards_Computational_Baby_ICCV_2015_paper.pdf">[PDF]</a>
    </p>
  </div>
</div>


<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Heterogeneous data alignment for cross-media computing</strong><br />
       	Shikui Wei, <strong>Yunchao Wei</strong>, Lei Zhang, Zhenfeng Zhu, Yao Zhao <br />
       International Conference on Internet Multimedia Computing and Service (<strong>ICIMCS</strong>), 2015 <br />
    </p>
  </div>
</div>

<h4>
	<a name='2014'></a> 2014
</h4>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Topographic NMF for data representation</strong><br />
       Yanhui Xiao, Zhenfeng Zhu, Yao Zhao, <strong>Yunchao Wei</strong>, Shikui Wei, Xuelong Li <br />
       IEEE Transactions on Cybernetics (<strong>TCYB</strong>), 2014 <br />
      <a href="assets/pdf/tndr_tcyb.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Proximal Iteratively Reweighted Algorithm with Multiple Splitting for Nonconvex Sparsity Optimization</strong><br />
       Canyi Lu, <strong>Yunchao Wei</strong>, Zhouchen Lin, Shuicheng Yan  <br />
       Proceedings of the AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2014 <br />
      <a href="assets/pdf/piramsnso_aaai.pdf">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Learning a mid-level feature space for cross-media regularization</strong><br />
       <strong>Yunchao Wei</strong>, Yao Zhao, Zhenfeng Zhu, Yanhui Xiao, Shikui Wei: <br />
       IEEE International Conference on Multimedia and Expo (<strong>ICME</strong>), 2014 <br />
      <a href="assets/pdf/lmfscr_icme.pdf">[PDF]</a>
    </p>
  </div>
</div>

<h4>
	<a name='2013'></a> 2013 and Earlier
</h4>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Class-Driven Non-Negative Matrix Factorization for Image Representation</strong><br />
       Yanhui Xiao, Zhenfeng Zhu, Yao Zhao, <strong>Yunchao Wei</strong> <br />
       Journal of Computer Science and Technology  (<strong>JCST</strong>), 2013 <br />
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Knowledge Transferring for Image Classification</strong><br />
       <strong>Yunchao Wei</strong>, Yao Zhao, Zhenfeng Zhu, Yanhui Xiao<br />
       Intelligent Information Hiding and Multimedia Signal Processing (<strong>IIH-MSP</strong>), 2012 <br />
    </p>
  </div>
</div>
