<p> </p>

<div class='positions'>
<h3>Open Positions</h3>
			<p>I received the ARC Discovery Early Career Researcher Award (DECRA) Fellowship between 2019-2021 and will join <strong>University of Technology Sydney</strong> as a Lecturer (Assistant Professor). <a style="color:#FF0000;">I am currently looking for self-motivated PhD/visiting students. If you would like to work with me, please drop me an email.</a></p>
</div>

﻿<div class='researchInt'>
<h3>Research Interests</h3>
			<p>My general research interest is to develop deep learning algorithms for challenging computer vision and multimedia problems. <br>
                        Recently, I focus on:</p>
                        <ul>
							<li>Weakly supervised object detection and semantic segmentation</li>
							<li>Video analysis, including detection and tracking</li>
							<li>Multi-label classification</li>
							<li>Multi-modal analysis</li>
                        </ul>
</div>
